@font-face {
  font-family: 'Font Bureau - MillerBanner Light';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/font-bureau-millerbanner-light.otf'); /* IE9 Compat Modes */
  src: local('Font Bureau - MillerBanner Light'),
      url('../../fonts/font-bureau-millerbanner-light.otf'); /* IE9 Compat Modes */
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Font Bureau - MillerBanner Light';
  box-sizing: border-box;
}

.saloon-list {
  display: flex;
  flex-flow: wrap;
  
  .saloon-item {
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #d1d1d1;
    text-decoration: none;

    &__thumbnail {
      width: 64px;
      height: 100%;
      border-radius: 2px;
      background-size: cover;
      margin-right: 16px;
    }
    &__mid-details {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      justify-content: space-between;
    }
    &__name {
      color: #000000;
      margin: 0;
    }
    &__address {
      color: #999999;
      margin: 0;
    }
    &__right-details {
      display: flex;
      align-items: center;
    }
    &__price-details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      height: 100%;
    }
    &__price {
      color: #000000;
      font-size: 20px;
      margin: 0;
    }
    &__duration {
      color: #999999;
      margin: 0;
    }
    &__arrow {
      height: 16px;
      margin-left: 16px;
    }
    &__rating {
      display: flex;
      margin: 8px 0;
      
      .dv-star-rating {
        align-self: start;
        
        label {
          margin-right: 4px;
  
          &:first-of-type {
            margin-right: 0px;
          }
        }
        i {
          font-size: 12px;
        }
      }
    }
    &__rating-details {
      margin: 0;
      margin-left: 8px;
      color: #999999;
    }
  }
  .Dropdown-root {
    width: 100%;
  }
  .Dropdown-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-top: 1px solid #b8a153;
    border-bottom: 1px solid #b8a153;
    padding: 16px;
  }
  .Dropdown-arrow {
    border: none;
    background-image: url('../../images/right-arrow.svg');
    width: 16px;
    height: 16px;
    background-size: cover;
    transform: rotate(90deg);
    position: relative;
    right: 0;
    top: 0;
  }
}
.saloon-detail {
  &__background-img {
    height: 35vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
  }
  &__name {
    margin: 0;
    color: #ffffff;
  }
  &__rating {
    display: flex;
    margin: 8px 0;
    
    .dv-star-rating {
      align-self: start;
      
      label {
        margin-right: 4px;

        &:first-of-type {
          margin-right: 0px;
        }
      }
      i {
        font-size: 12px;
      }
    }
  }
  &__rating-details {
    margin: 0;
    margin-left: 8px;
    color: #ffffff;
  }
}
